body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  font-family: 'Times New Roman', Times, serif;
  
}


/* Board */
.container_board {
  width: 770px;
  height: 770px;
  background-color: rgb(54, 34, 18);
  display: grid;
  grid-template-rows: 77px auto 77px;
  grid-template-columns: 77px 616px 77px;
  color: aliceblue;
}


.board {
  width: 616px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.container_board .lateral_right .container_box .parrafo {
  transform: rotate3d(1, 0, 0, 180deg) rotate3d(0, 1, 0, 180deg);
}

.lateral_right {
  height: 616px;
  width: 77px;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;


}

.lateral_left {
  height: 616px;
  width: 77px;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;

}

.top {
  height: 77px;
  width: 770px;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  transform: rotateX(180deg);
}

.bottom {
  height: 77px;
  width: 770px;
  grid-row: 3/4;
  margin: auto 0;
  display: flex;
  justify-content: center;
}

/* Box */

.container_box {
  width: 77px;
  height: 77px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

}

.parrafo {
  margin: 0;
}